.wrapper{
    max-width: 1800px;
    padding: 0 20px;
    margin: 0 auto;
}
.content{
    padding: 30px 0 0;
    font: bold 40px/100% 'Gilroy',sans-serif;
}
.title__analog-photo h1{
    padding: 42.05px 0 15px;
}
.content_text{
    max-width: 800px;
}
.content_titel{
    font: 600 normal 2.4rem/120% 'Gilroy',sans-serif;
}
.content{
    display: grid;
    grid-template-columns: 391px 1fr;
    grid-column-gap: 57px;
    grid-row-gap: 46px;
}

td, li{
    padding: 0 40px 0 0 ;
    font-size: 15px;
    line-height: 120%;
    font-weight: 600;
}

.nowrap{
    white-space: nowrap;
}

p{
    line-height: 150%;
}

table {
    padding-top: 10px;
}
li {
    padding-top: 10px;
}
hr{
    margin-top: 70px;
}
@media (max-width: 767px) {
    .title__analog-photo{
        text-align: center;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .content_img{
        position: relative;
        margin: 20px;
    }
    .content_img img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    .header__background_left{
        height: 767px;
    }
}

@media (max-width: 440px) {
    .content_img{
        max-width: 280px;
        margin: 0 auto;
    }
    .content_img img {
        width: 280px;
    }
}

.star td{
    color: #808080;
    font-weight: 400;
}
.star{
    padding-top: 50px;
}