.wrapper{
    max-width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.title__analog-photo{
    padding: 20px;
}
.content{
    display: grid;
    grid-template-columns: 525px 240px 300px;
    grid-column-gap: 57px;
    grid-row-gap: 46px;
}

td{
    padding: 0 40px 8px 0 ;
}

.nowrap{
    white-space: nowrap;
}

table {
    padding-top: 10px;
}
li {
    padding-top: 10px;
}
.map{
    padding: 20px;
    display: flex;
}
hr{
    margin-top: 40px;
}